html {
    font-family: Arial;
    padding: 25px;
    padding-left: 90px;
}

#imgHeader {
    height: 40px;
}

.inputExtractoBancario {
    background-color: #2980B9;
    color: white;
    border: none;
    height: 35px;
    width: 200px;
}

input::placeholder {
    color: white;
    font-weight: bold;
}

.buttonExtractoBancario {
    background-color: black;
    color: white;
    border: none;
    height: 35px;
    width: 170px;
    font-weight: bold;
    font-size: 15px;
}

#enlaceSalir {
    color: black;
}

.visible {
    font-size: 10px;
    color: red;
}

.invisible {
    font-size: 0px;
}

table {
    border: 1px solid black;
    padding: 5px;
}

th {
    border: 1px solid black;
    background-color: aliceblue;
}

td {
    border: 1px solid black;
}

@media print {
    body * {
        visibility: hidden;
    }

    #container, #container * {
        visibility: visible;
    }

    #container{
        position: absolute;
        left: 0;
        top: 0;
    }
}