html {
    font-family: Arial;
    padding: 25px;
    padding-left: 90px;
}

.centrarPantalla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px;
}

#imgHeader {
    height: 40px;
}

#imgBancoServiciosPublicos {
    height: 40px;
    padding-left: 20px;
    padding-top: 15px;
}

.banco {
    text-align: left;
}

.container {
    background-color: #D9D9D9;
    width: 300px;
    height: 440px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;
    /* line-height: 8px; */
    float: left;
}

.inputServiciosPublicos {
    background-color: #2980B9;
    color: white;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 200px;
}

.buttonPagar {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 170px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 15px;
}

input::placeholder {
    color: white;
    font-weight: bold;
}

#enlaceCancelar {
    color: black;
    text-decoration: none;
}

#enlaceCancelar:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
}

.visible {
    font-size: 10px;
    color: red;
}

.invisible {
    font-size: 0px;
}

.facturaVisible {
    background-color: #D9D9D9;
    width: 300px;
    height: 360px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 40px;
    padding-top: 1%;
    float: right;
}

.facturaInvisible {
    visibility: hidden;
}

@media print {
    body * {
        visibility: hidden;
    }

    #contenido, #contenido * {
        visibility: visible;
    }

    #contenido {
        position: absolute;
        left: 0;
        top: 0;
    }
}