html {
    font-family: Arial;
    padding: 25px;
    padding-left: 90px;
}



#imgHeader {
    height: 40px;
}

#imgBancoInicioSesion {
    height: 40px;
    padding-left: 20px;
    padding-top: 15px;
}
.banco {
    text-align: left;
}

.container {
    background-color: #D9D9D9;
    width: 250px;
    height: 350px;
    /* padding: 2%; */
    text-align: center;
    border-radius: 40px;
    
}

.inputInicioSesion {
    background-color: #2980B9;
    color: white;
    border: none;
    height: 35px;
    width: 200px;
}

input::placeholder {
    color: white;
    font-weight: bold;
}

#enlaceOlvidarContraseña {
    font-size: 10px;
    color: black;
}

.olvidarContraseña {
    text-align: right;
    padding-right: 25px;
}

#buttonIniciarSesion {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 170px;
    font-weight: bold;
    font-size: 15px;
}

#enlaceRegistrarse {
    color: black;
}

.visible {
    font-size: 10px;
    color: red;
}

.invisible {
    font-size: 0px;
}